streamlit
pandas
supabase
plotly
networkx
pyvis
python-docx
openpyxl
beautifulsoup4
kaleido
numpy
matplotlib
wordcloud
feedparser
instaloader
googlenewsdecoder
streamlit-authenticator==0.3.2
PyYAML==6.0.1
